.App {
  text-align: center;
  /* background: #E5E5E5; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  height: 70px;
  background: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.globe-icon {
  height: 35px;
}

.nav-title {
  margin-left: 10px;
  color: aliceblue;
  font-size: 25px;
  font-weight: bold;
}

.main {
  height: 100%;
  max-width: 500px;
  background: #fff;
  margin: 0 auto;
  padding: 30px;
}

.card {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  height: 150px;
}

.card--image {
  flex: .25;
}

.card--info {
  flex: .75;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-size: cover;
}

.card--location {
  gap: 10px;
  padding-top: 10px;
}

.card--location-location, .card--location-url {
  margin-left: 5px;
}

.card--location-location {
  font-size: 10.24px;
  text-transform: uppercase;
  color: #2B283A;
}

.card--location-url {
  font-size: 10.24px;
  color: #918E9B;
}

.card-title {
  font-size: 25px;
  margin: 0;
  padding-top: 7px;
  color: #2B283A;
}

.card-date {
  font-size: 10.24px;
  color: #2B283A;
  padding-top: 15px;
}

.card-description {
  text-align: left;
  font-size: 10.24px;
  margin: 0;
  padding-top: 7px;
}
